.shopify-section-header-sticky:not(.shopify-section-header-hidden) ~ main .about-us__description {
  top: calc(var(--header-height) + 2.4rem);
}

.about-us__item {
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 1100px) {
  .about-us__item {
    flex-wrap: nowrap;
  }
}
.about-us__description {
  flex: auto;
  width: 100%;
  position: static;
  top: 2.4rem;
}
@media screen and (min-width: 1100px) {
  .about-us__description {
    flex: 1;
    width: auto;
  }
  .about-us__description--sticky {
    position: sticky;
  }
}
.about-us__description--block {
  max-width: 45rem;
}
.about-us__description--block:not(:last-child) {
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 1100px) {
  .about-us__description--block {
    min-width: 45rem;
  }
}
.about-us__description--block > *:first-child {
  margin-top: 0;
}
.about-us__description--block > *:last-child {
  margin-bottom: 0;
}
.about-us__description--subheading.no_heading {
  color: rgb(var(--color-foreground));
}
.about-us__description--subheading, .about-us__description--heading {
  margin-bottom: 0;
}
.about-us__description--subheading + .about-us__description--heading {
  margin-top: 0.8rem;
}
.about-us__description--subheading + .about-us__description--description {
  margin-top: 0.6rem;
}
.about-us__description--heading {
  margin-top: 0;
}
.about-us__description--description {
  margin-top: 1.6rem;
  margin-bottom: 0;
  line-height: 1.44;
}
.about-us__description--description > p {
  margin-top: 0;
  margin-bottom: 0;
}
.about-us__description--description > p:empty:last-child {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.about-us__description > p:empty:last-child {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.about-us__images-container {
  display: flex;
  gap: 2.4rem;
  flex: unset;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (min-width: 1100px) {
  .about-us__images-container {
    flex: 2;
    width: auto;
  }
}
.about-us__image {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  border-radius: var(--border-radius-media);
  transform: scale(1);
  transition: transform var(--duration-default) ease;
}
.about-us__image-wrapper {
  position: relative;
  overflow: hidden;
  width: calc(50% - 1.2rem);
}
.about-us__image-wrapper--landscape {
  aspect-ratio: 10/7;
}
.about-us__image-wrapper--portrait {
  aspect-ratio: 10/13;
}
.about-us__image-wrapper--square {
  aspect-ratio: 1/1;
}

/* Newsletter Form */
.about-us__newsletter {
  margin-top: 3.2rem;
  max-width: 45rem;
}

.about-us-newsletter-form__field-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
}

.about-us-newsletter-form__field-wrapper .field {
  flex: 1;
  min-width: 0;
  margin: 0;
}

.about-us-newsletter-form__field-wrapper .field__input {
  width: 100%;
  padding-right: 14rem;
  height: 5rem;
}

@media screen and (max-width: 749px) {
  .about-us-newsletter-form__field-wrapper .field__input {
    padding-right: 12rem;
    height: 4.8rem;
  }
}

.about-us-newsletter__button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  margin: 0;
  padding: 0 2.4rem;
  white-space: nowrap;
  flex-shrink: 0;
  border:0;
}


@media screen and (max-width: 749px) {
  .about-us-newsletter__button {
    padding: 0 1.6rem;
    font-size: 1.3rem;
  }
}

.about-us-newsletter-form__message {
  display: block;
  margin-top: 1.2rem;
  padding: 1.2rem;
  border-radius: var(--border-radius);
  font-size: 1.4rem;
  line-height: 1.5;
}

.about-us-newsletter-form__message--error {
  color: rgb(var(--color-error));
  background-color: rgba(var(--color-error), 0.1);
  border: 1px solid rgb(var(--color-error));
}

.about-us-newsletter-form__message--success {
  color: rgb(var(--color-success));
  background-color: rgba(var(--color-success), 0.1);
  border: 1px solid rgb(var(--color-success));
}